body{
    margin: 0;
    padding:0;
    font-size:1.4em;
    background: gray;
}
.header{
    margin-top:0;
    background-color: rgb(79 49 22);
    position: fixed;
    top:0;
    width:100%;
    height:69px
}

.header-items{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.header-items > li >a {
    padding: 0.5em 1em;
    text-decoration: none;
    color: white;
}
.home{
    margin-top: 70px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.home-mail-head{
  font-weight: bold;
}
.home > img{
  width: 15%;
}
.home-info{
        width: 50%;
}
.about{
  background-color: gray; 
}
.about-heading{
  background-color: #a8a880;
  text-align: center;
  padding: 0.8em;
}
.brief-description{
  padding: 0.1em 2em;
  width: fit-content;
  margin: 2em;
}
/* education */
.timeline { margin-bottom: 30px; }

.timeline .title-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.timeline-list {
  font-size: var(--fs-6);
  margin-left: 45px;
}

.timeline-item { position: relative; }

.timeline-item:not(:last-child) { margin-bottom: 20px; }

.timeline-item-title {
  font-size: var(--fs-6);
  line-height: 1.3;
  margin-bottom: 7px;
}

.timeline-list span {
  color: var(--vegas-gold);
  font-weight: var(--fw-400);
  line-height: 1.6;
}

.timeline-item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: -25px;
  left: -30px;
  width: 1px;
  height: calc(100% + 50px);
  background: rgb(14, 14, 114);
}

.timeline-item::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -33px;
  height: 6px;
  width: 6px;
  background: black;
  border-radius: 50%;
  box-shadow: 0 0 0 4px var(--jet);
}
.timeline-text {
  color: var(--light-gray);
  font-weight: var(--fw-300);
  line-height: 1.6;
}

/* contact */

.contact {
  background: var(--second-bg-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.contact-text h4 {
  color: var(--text-color);
  margin: 18px 0;
  font-size: 20px;
  font-weight: 600;
}

.contact-text h2 {
  font-size: var(--h2-font);
  line-height: 1;
}

.contact-text p {
  color: var(--second-color);
  font-size: var(--p-font);
  line-height: 1.8;
  margin-bottom: 30px;
}

.list {
  margin-bottom: 2.8rem;

}

.list li {
  margin-bottom: 12px;

}

.list li a {
  display: block;
  color: var(--second-color);
  font-size: 14px;
  transition: all .45s ease;
}

.list li a:hover {
  color: var(--text-color);
  transform: translateY(5px);

}

.contact-icons i {
  height: 45px;
  width: 45px;
  color: var(--text-color);
  font-size: 22px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-right: 15px;
  transition: all .45s ease;
}

.contact-icons i:hover {

  color: var(--main-color);
}

.contact-form form {
  position: relative;
}

.contact-form form input,
form textarea {
  width: 100%;
  padding: 14px;
  background: white;
  color: black;
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 8px;
  margin-bottom: 6px;
}

.contact-form textarea {
  resize: none;
  height: 240px;
}

.contact-form .submit {
  display: inline-block;
  font-size: 16px;
  background: rgb(60, 187, 60);
  color: black;
  width: 160px;
  transition: all .45s ease;
}

.contact-form .submit:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* skills */
.skills-title { margin-bottom: 20px; }

.skills-list { padding: 20px; }


.skills-item:not(:last-child) { margin-bottom: 15px; }

.skill .title-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 8px;
}

.skill .title-wrapper data {
  color: var(--light-gray);
  font-size: var(--fs-7);
  font-weight: var(--fw-300);
}

.skill-progress-bg {
  background: green;
  width: 100%;
  height: 8px;
  border-radius: 10px;
}
.skill-progress-fill {
  background: black;
  height: 100%;
  border-radius: inherit;
}
